.App {
  min-height: 100vh;
  background-color: #e5e5f7;
  background-image: linear-gradient(45deg, #ececed 50%, #1778c7 50%);
  background-size: 10px 10px;
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
